.card {
    border: 1px lightgray solid;
    margin-top: 10px;
    padding: 10px;
    color: grey;
}
/* header area */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-count {
    font-size: 13px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right-button {
    margin-left: auto;
}

.study-button {
    margin-left: 10px;
}
