.createForm {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
}

textarea {
    padding: 10px
}

button {
    margin-top: 10px;
    margin-right: 10px;
}